@model BeestjeOpJeFeestje.Models.Booking

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @if (Model.BookingState == BookingState.Animals)
        {
            <div>Animal Lijst</div>
            @await Component.InvokeAsync("AnimalSelection")
        }

        @if (Model.BookingState == BookingState.Accessories)
        {
            <div>Animal Accessories</div>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
